/* Common style for all */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body { background-color: #191919; font-family: 'Roboto', Helvetica, Arial, sans-serif; font-weight: 300; margin: 0; }

.large { font-size: 9vw; }
.medium { font-size: 7.9vw; }
.strong { font-weight: 700; }
.showIn { animation: showIn 1s ease-in-out; }
@keyframes showIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* HEADER */
header { width: 100vw; height: 55px; position: fixed; top: 0; left: 0; background: transparent; border-bottom: 1px solid #5f5c78; box-sizing: border-box; padding: 20px 16px 17px; text-align: center; z-index: 99; }
header.fixed { background: rgba(25,25,25,0.65); }
header.openMenu,
header.openSearch { background: #5f5c78; }
header .headWrap { max-width: 1500px; width: 100%; height: 100%; position: relative; margin: 0 auto; }
header .logo { display: inline-block; width: 53px; height: 18px; }
header .logo a { display: block; width: 100%; height: 100%; background: url(../src/logo-white.png) no-repeat 50% 50% / cover; }
header .mobileBtn { display: block; width: 20px; height: 15px; position: absolute; top: 0px; }
header .mobileBtn.menu { left: 16px; }
header .mobileBtn.explore { right: 16px; }
header .mobileBtn span { display: block; transition: all 0.3s; }
header .mobileBtn span.bar { height: 3px; background: #fefefe; }
header .mobileBtn.menu .bar:nth-of-type(1) { margin-top: 1px; }
header .mobileBtn.menu .bar:nth-of-type(2) { width: 14px; margin: 4px 0; }
header .mobileBtn.menu .bar:nth-of-type(3) { width: 17px; }
header.openMenu .mobileBtn.menu .bar:nth-of-type(1) { transform: rotate(45deg) translate(5px, 4px); }
header.openMenu .mobileBtn.menu .bar:nth-of-type(2) { display: none; }
header.openMenu .mobileBtn.menu .bar:nth-of-type(3) { width: 20px; transform: rotate(-45deg) translate(-2px, 3px); }
header .mobileBtn.explore .bar { width: 8px; height: 3px; transform: rotate(45deg); position: absolute; right: -2px; bottom: -2px;}
header .mobileBtn.explore .circle { width: 12px; height: 12px; border-radius: 50%; position: absolute; left: 1px; top: -1px; border: 3px solid #fefefe; transition: height 0.4s, width 0.4s; }
header.openSearch .mobileBtn.explore .bar { width: 20px; top: 0; right: 0; transform: rotate(-45deg) translate(-4px, 4px); }
header.openSearch .mobileBtn.explore .circle { width: 20px; height: 3px; border: none; border-radius: 0; background: #fefefe; top: 0; right: 0; transform: rotate(45deg) translate(3px, 5px); }

header .gnb { display: none; width: 100vw; height: 100vh; position: fixed; left: 0; top: 0; background: #5f5c78; font-weight: 700; top: 55px; transition-delay: 0.1s; padding: 2em 0; }
header.openMenu .gnb { display: inline-block; }
header .gnb ul { display: block; width: 100%; text-align: center; }
header .gnb li { display: block;  padding: 10px 13px 9px; font-size: 14px; }
header .gnb > ul > li { margin-bottom: 1em; }
header .gnb > ul > li > a { color: #efefef; font-size: 1.2em; line-height: 1.5em; position: relative; }
header .gnb li:nth-child(2) > a:before,
header .gnb li:nth-child(3) > a:before { content: ''; display: block; width: 0.5em; height: 0.5em; position: absolute;  top: 0.3em; right: -1.2em; border-bottom: 2px solid; border-right: 2px solid; box-sizing: border-box; transform: rotate(45deg); }
header .gnb li .gnb_sub { display: block; margin-top: 0.5em; }
header .gnb li .gnb_sub > li > a { color: #c1c1c1; font-size: 0.95em; }

header .search { display: none;  width: 50vw; height: 24px; box-sizing: border-box; padding: 2px 6px; border-radius: 12px; position: absolute; top: -4px; left: 20vw; background: #fefefe; overflow: hidden; }
header .search form,
header .search form input { width: 100%; height: 100%; }
header.openSearch .search { display: block; }
header.openSearch .menu {display: none; }
/* /HEADER */

/* FOOTER */
footer { height: 200px; background: #757099; padding: 57px 16px 40px; box-sizing: border-box; position: relative; overflow: hidden; text-align: center; color: #333; }
footer h6 { width: 50px; margin: 0 auto; }
footer p { font-size: 14px; font-weight: 700; margin-top: 10px; }
footer .topBtn { display: block; width: fit-content; position: absolute; right: 50%; bottom: 1em; padding: 1em 1em 0 1em; border: 2px solid; font-size: 14px; font-weight: 700; line-height: 2em; cursor: pointer; transform: translateX(50%); }
footer .topBtn:before { content: ''; display: block; width: 0.8em; height: 0.8em; position: absolute; top: .7em; left: 1.3em; border-top: 2px solid; border-right: 2px solid; box-sizing: border-box; transform: rotate(-45deg); }
/* /FOOTER */

/*
.pointer-effect
*/


/* 600px ~ 839px */
@media (min-width:600px) and (max-width: 839px) {
    .large { font-size: 54px; }
    .medium { font-size: 46px; }
    /* HEADER */
    header .gnb li { padding: 10px 6.2vw 9px; }
    
    /* FOOTER */
    footer { height: 200px; padding: 58px 16px 60px; }
    footer h6 { width: 60px; }
    footer .topBtn { font-size: 16px; }
    footer .topBtn:before { top: 0.4em; }
}

/* 840px ~ 1279px */
@media (min-width:840px) and (max-width: 1279px) {
    .large { font-size: 54px; }
    .medium { font-size: 46px; }
    /* HEADER */
    header { height: 65px; padding-top: 24px; padding-bottom: 24px; }
    header .gnb { height: auto; box-shadow: 0px 3px 5px rgba(31,31,29,0.5); }
    header .gnb li { font-size: 1.8vw; padding: 1em 6.2vw 0.8em; }
    header .gnb > ul > li { margin-bottom: 0.5em; }
    header .search { width: 40vw; left: 30vw; }
    
    /* FOOTER */
    footer { height: 240px; padding: 80px 24px 60px; }
    footer h6 { width: 60px; }
    footer p { font-size: 16px; }
    footer .topBtn { font-size: 16px; bottom: 1.5em; }
}

/* 1280px ~ */
@media (min-width: 1280px) {
    .large { font-size: 54px; }
    .medium { font-size: 46px; }
    /* HEADER */
    header { height: 104px; left: 0; right: 0; margin: 0 auto; padding: 62px 88px 0; border: none; text-align: left; transition: all 0.5s; }
    header.openMenu, header.openSearch { background: transparent; }
    header.openMenu .gnb { top: -10px; }
    header.fixed { background: rgba(25,25,25,0.8); }
    header .mobileBtn { display: none; }
    
    header .headWrap { max-width: 90vw; width: 100%; }
    header .logo { display: inline-block; width: 70px; height: 23px; position: static; margin-top: 8px; margin-right: 150px; }
    header .logo a { display: block; width: 100%; height: 100%; background: url(../src/logo-white.png) no-repeat 50% 50% / cover; }
    header .mobileBtn { display: none; }
    header .gnb { display: inline-block; position: static; position: relative; top: -10px; width: fit-content; height: 40px; background-color:  transparent; padding: 0.5em 0; }
    header .gnb ul { display: inline-block; font-size: 0; }
    header .gnb li { display: inline-block; font-size: 18px; margin-right: 80px; padding: 0; }
    header .gnb li a { position: relative; line-height: 40px; }
    header .gnb > ul > li > a { color: #757099; font-size: 1em; }
    header .gnb li a:hover { color: #fefefe; transition: color 0.5s; }
    header .gnb li a:hover:after { content: ''; display: block; position: absolute; animation: gnbHover 0.5s linear; top: 3px; left: 0; width: 0%; height: 20px; background-color: #eee; }
    @keyframes gnbHover {
        0% {
            width: 0%;
            left: 0;
        }
        50% {
            width: 100%;
            left: 0;
        }
        100% {
            width: 0%;
            left: 100%;
        }
    }
    header .gnb li:nth-child(2) > a:before,
    header .gnb li:nth-child(3) > a:before { display: none; }
    header .gnb li .gnb_sub { display: none; }
    header .gnb li:hover .gnb_sub { display: block; padding-top: 8px; }
    header .gnb li .gnb_sub { position: absolute; }
    header .gnb li .gnb_sub li { display: block; text-align: left; margin-right: 35px; }
    header .gnb li .gnb_sub li a { color: #aaa; font-size: 0.85em; line-height: 2.4em; }
    header .gnb li .gnb_sub li:hover a { color: #eee; }
    header .gnb li .gnb_sub li a:hover:after { animation: none; }
    
    header .search { display: inline-block; max-width: 300px; width: 25vw; height: 32px; left: auto; right: 0; top: 2px; background-color: #3F3E47; border-radius: 20px; padding: 0; }
    header .search form { display: block; width: 100%; height: 100%; }
    header .search form:focus-within { background-color: #5f5c78; color: #dedede; }
    header .search input[type=search] { width: calc(100% - 45px); height: 100%; padding: 10px 14px; box-sizing: border-box; border-radius: 20px; background: transparent; color: #fefefe; font-size: 20px; }
    header .search button[type=submit] { width: 40px; height: 100%; background: transparent; opacity: .6; }
    header .search button[type=submit] i { font-size: 18px; color: #dedede; }
    
    header.fixed { height: 80px; padding-top: 24px; }
    header.fixed .headWrap { max-width: 100%; }
    header.fixed .gnb li a { line-height: 32px; }
    header.fixed .search { height: 32px; }
    header.fixed .gnb li:hover .gnb_sub { top: 32px; margin-left: -20px; padding-top: 24px; }
    header.fixed .gnb li:hover .gnb_sub li { display: block;  margin-right: 26px; background: rgba(25,25,25,0.8); padding: 0 40px 10px 20px; }
    header.fixed .gnb li:hover .gnb_sub li a { font-size: 0.8em; font-weight: 400; }
    
    /* FOOTER */
    footer { height: 200px; padding: 80px 88px 60px; text-align: left; }
    footer h6 { width: 80px; margin: 0; }
    footer p { font-size: 16px; }
    footer .topBtn { font-size: 16px; right: 88px; bottom: 2em; }
}

