header { border: none; }
/* PAGINATION */
.pagination .pageIndex { width: 16px; height: 26vh; position: fixed; right: 16px; top: 37vh; font-size: 14px; font-weight: 700; color: #fefefe; z-index: 98; }
.pagination .pageIndex span:first-child { position: absolute; top: 0; }
.pagination .pageIndex span:last-child { position: absolute; bottom: 0; }
.pagination .pageIndex .navBar { display: block; position: absolute; top: 24px; left: 4px; width: 4px; height: calc(100% - 52px); border: 2px solid; }
.pagination .pageIndex .navBar .navProgress { width: 100%; min-height: 20%; max-height: 100%; height: 20%; background: #fefefe; transition: height 0.5s;}
.pagination nav { position: fixed; right: 16px; bottom: 21px; width: 40px; height: 78px; overflow: hidden; color: #fefefe; z-index: 98; }
.pagination nav span { display: block; width: 36px; height: 36px; position: absolute; left: 0; border: 2px solid; }
.pagination nav .prevPage { top: 0; }
.pagination nav .prevPage:before { content: ''; display: block; width: 33%; height: 33%; position: absolute; top: 43%; left: 33%; border-top: 2px solid; border-right: 2px solid; box-sizing: border-box; transform: rotate(-45deg); transition: all 0.3s; }
.pagination nav .nextPage { bottom: 0; }
.pagination nav .nextPage:before { content: ''; display: block; width: 33%; height: 33%; position: absolute; top: 29%; left: 33%; border-bottom: 2px solid; border-left: 2px solid; box-sizing: border-box; transform: rotate(-45deg); transition: all 0.3s; }
.pagination nav span.off:before { transform: none; width: 50%; height: 2px; left: 25%; top: 48%; border-right: none; }
/* ----- */

/* CONTAINER */
.container { max-width: 100vw; width: 100%; height: 100vh; position: fixed; left: 0; top: 0; overflow: hidden; }
.container .wrapper { width: 100%; position: absolute; top: 0; left: 0; transition: top 1s cubic-bezier(.17,.67,.73,1.04); }
.container#show-section-0 .wrapper { top: 0; }
.container#show-section-1 .wrapper { top: -100vh; }
.container#show-section-2 .wrapper { top: -200vh; }
.container#show-section-3 .wrapper { top: -300vh; }
.container#show-section-4 .wrapper { top: -400vh; }
.container section { height: 100vh; position: relative; }
section .descTit { position: absolute; color: #efefef; top: 14vh; left: 12vw; text-align: center; font-size: 8vw; font-weight: 300; }
section .descText { position: absolute; color: #dedede; top: 22vh; left: 12vw; font-size: 4.6vw; font-weight: 700; }
section .descTit,
section .descText { z-index: 90;  text-shadow:  0px 0px 5px rgba(31,31,31,0.5); }
section .large-image { z-index: 9; }
section .descText .moreBtn { display: block; color: #6d6893; margin-top: 0.5em; font-size: 0.8em; }
/* SECTION0 */
.sec0 { text-align: center; overflow: hidden; }
.sec0:before { content: ''; position: absolute; width: 500vw; height: 500vw; border-radius: 30% 50% 45% 28%/ 25% 55% 50% 50%; background-color: #5046ad;  top: 40%; left: -200%; }
.sec0 .mainText { position: absolute; width: 80vw; top: 25vh; left: 10vw; text-align: center; font-size: 8.8vw; color: #efefef; }
.sec0 .mainText h3 { font-weight: 300; font-size: 1.6em; line-height: 1.05em; margin-bottom: 1.4em; }
.sec0 .mainText h3 .strong { display: block; font-weight: 700; font-size: 1.2em; line-height: 1.15em;
    color: transparent; text-align: center;
    -webkit-text-stroke: 0.015em white;  
    -moz-text-stroke: 0.015em white;
    -ms-text-stroke:0.015em white;
    -o-text-stroke: 0.015em white;
    text-stroke: 0.015em white;
    _color: white;
    outline: 0;
}
.sec0 .mainText h3 .strong:hover { color:white; -webkit-text-stroke: 0px; }
.sec0 .mainText p { font-weight: 700; font-size: 0.6em; line-height: 1.2em; }
.sec0 .large-top { position: absolute; width: 90vw; top: 40vh; left: 5vw; }
#show-section-0 .sec0:before { animation: fill-background 2s ease-out, background-wave 20s infinite ease-in-out; }
#show-section-0 .sec0 .mainText h3 span:nth-of-type(1) { animation: text-in-left 0.5s linear; }
#show-section-0 .sec0 .mainText h3 span:nth-of-type(2) { display: block; animation: text-in-right 0.5s linear; }
#show-section-0 .sec0 .mainText h3 span:nth-of-type(3) { display: block; animation: text-in-left 0.5s linear; }
#show-section-0 .sec0 .large-top { animation: text-in-right 0.5s linear; }
#show-section-0 .sec0 .mainText p { animation: text-in-left 0.5s linear; }
@keyframes background-wave {
    0% {
        transform: rotate(-180deg);
    }
    10% {
        top: 42%;
    }
    50% {
        top: 45%;
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fill-background {
    0% { top: 90%; }
    100% { top: 40%; }
}
@keyframes text-in-left {
    0% { opacity: 0; transform: translate3d(-10%, 0, 0); }
    100% { opacity: 1; transform: translate3d(0%, 0, 0); }
}
@keyframes text-in-right {
    0% { opacity: 0; transform: translate3d(10%, 0, 0); }
    100% { opacity: 1; transform: translate3d(0%, 0, 0); }
}
/* ----- */
/* SECTION1 */
.sec1 .screen { max-width: 270px; width: 50vw; height: 50vh; padding: 5% 2%; box-sizing: border-box; border-radius: 14px; position: absolute; left: 25vw; top: 35vh; box-shadow: 2px 2px 5px rgba(255,255,255,0.3), -2px -2px 10px black; overflow: hidden; }
.sec1 .screen .screenCont { width: 100%; height: 100%; border-radius: 10px; overflow: hidden; }
.sec1 .screen .screenCont .contWrap { width: 100%; height: 100%; position: absolute; top: 0; }
.sec1 .screen .screenCont .contWrap .vid1 { position: relative; height: 103%; transform: translate(-36%, 0%); z-index: 10; }
/* ----- */
/* SECTION2 */
.sec2 { width: 100%; background: linear-gradient(-45deg, #1C2943, #2C114A); overflow: hidden; }
.sec2 .effect { width: 100%; height: 100%; position: absolute; left: 0; top: 0; overflow: hidden; }
.sec2 .large-image { width: 60vw; height: 50vh; position: absolute; left: 20vw; bottom: 0; z-index: 80; }
.sec2 .large-image .kid { max-width: 120%; width: 120%; position: absolute; left: 0; bottom: 0; }
#show-section-2 .sec2 ~ { animation: background-image; }
@keyframes background-image {
    0% {}
    100% {}
}
/* ----- */
/* SECTION3 */
.sec3 {
    background: -webkit-linear-gradient(bottom, #2e2e2e 10%, #535353 20%, #2e2e2e 25%, #535353 100%); background: -o-linear-gradient(bottom, #2e2e2e 10%, #535353 20%, #2e2e2e 25%, #535353 100%); background: linear-gradient(to top, #2e2e2e 10%, #535353 20%, #2e2e2e 25%, #535353 100%);
}
.sec3 .large-image { width: 54vw; height: auto; position: absolute; left: 23vw; top: 35vh;  }
.sec3 .large-image .character { position: relative; z-index: 10; }
/* ----- */
/* SECTION4 */
.sec4 .innerBox { width: 100%; }
.sec4 .innerBox .background { width: 200px; height: 200px; position: absolute; top: calc(50vh - 100px); left: calc(50vw - 100px); }

.sec4 .innerBox .innerText { width: 100%; position: absolute; top: 34vh; left: 0; color: #efefef; text-align: center; font-size: 6vw; }
.sec4 .innerBox .innerText p { margin-bottom: 1em; line-height: 1.6em; font-weight: 700; }
#show-section-4 .sec4 .circle { animation: background-spin 6s infinite; }
@keyframes background-spin {
    0%   {  }
    100% {  }
}
/* ----- */
/* /CONTAINER */

/** index-FOOTER */
.footer { max-width: 70%; position: fixed; left: 16px; bottom: 21px; padding: 0; z-index: 99; }
.footer p { display: block; font-size: 13px; font-weight: 700; margin-top: 10px; color: #ddd; }

/* IE일 경우 */
@media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none) {
    .sec0 .mainText h3 .strong {
        color: #fff;
    }
    .sec0 .mainText h3 .strong:hover{
        color: #fff;
    }
}

/* 600px ~ 839px */
@media (min-width:600px) and (max-width: 839px) {
    .pagination .pageIndex { right: 21px; }
    .pagination nav { right: 21px; }
    
    section .descTit { top: 15vh; }
    section .descText { top: 24vh; }
    section .large-image { top: 46vh; }
    .sec0 .mainText { font-size: 7.8vw; }
        
}

/* 840px ~ 1279px */
@media (min-width:840px) and (max-width: 1279px) {
    .pagination .pageIndex { right: 27px; font-size: 16px; }
    .pagination nav { right: 27px; bottom: 27px; }
    
    section .descTit { width: 50%; top: 20vh; left: 0; font-size: 6vw; padding: 0 24px; box-sizing: border-box; }
    section .descText { width: 50%; top: 45vh; left: 0; font-size: 2.3vw; padding: 0 0 0 9vw; box-sizing: border-box; }
    section .large-image { max-width: 50vw; top: 35vh; }
    /* SECTION 0 */
    .sec0 .mainText { top: 15vh; font-size: 3.5vw; }
    .sec0 .mainText h3 .strong { display: inline-block; }
    .sec0 .large-top { top: 50vh; left: 29vw; width: 40vw; }
    /* SECTION 1 */
    .sec1 .large-image { width: 50vw; height: 32vw; top: 35vh; right: -12vw; }
    .sec1 .large-image .hand { width: 100%; }
    /* SECTION 2 */
    .sec2 .large-image { top: 25vh; left: 50vw; }
    .sec2 .large-image .background,
    .sec2 .large-image .kid { width: 60%; }
    .sec2 .large-image .cloud5 { top: 80%; }
    /* SECTION 3 */
    .sec3 .large-image { left: 50vw; top: 25vh; }
    .sec3 .large-image .character { position: relative; left: 25%; }
    
    /** index-FOOTER */
    .footer p { font-size: 14px; }
}

/* 1280px ~ */
@media (min-width: 1280px) {
    .mobileOnly { display: none; }
    
    .pagination .pageIndex { right: 27px; font-size: 16px; }
    .pagination nav { right: 27px; bottom: 27px; }
    /* CONTAINER */
    section .descTit { width: 50%; top: 20vh; left: 0; font-size: 80px; padding: 0 14vw; text-align: left; box-sizing: border-box; }
    section .descText { width: 50%; top: 50vh; left: 0; font-size: 30px; padding: 0 0 0 15vw; box-sizing: border-box; }
    section .descText .moreBtn { font-size: 0.6em; margin-left: 12px; }
    section .large-image { top: 35vh; }
    /* SECTION 0 */
    .sec0 .mainText { top: 265px; font-size: 90px; }
    .sec0 .mainText h3 { font-size: 1em; }
    .sec0 .mainText h3 .strong { display: inline-block; }
    .sec0 .mainText p { font-size: 0.45em; }
    .sec0 .large-top { top: 50vh; left: 29vw; width: 40vw; }
    /* SECTION 1 */
    .sec1 .large-image { width: 883px; height: 569px; top: 25vh; left: 65vw; }
    .sec1 .large-image .hand { width: 100%; height: 100%; }
    .sec1 .large-image .screen { height: 100%; }
    /* SECTION 2 */
    .sec2 .large-image { width: 500px; height: 751px; top: 25vh; left: 60vw; }
    .sec2 .large-image .background,
    .sec2 .large-image .kid { width: 80%; }
    .sec2 .large-image .cloud1 { top: 25%; left: -60%; }
    .sec2 .large-image .cloud2 { top: 30%; left: 45%; }
    .sec2 .large-image .cloud3 { top: 50%; left: -33%; }
    .sec2 .large-image .cloud4 { top: 60%; left: -50%; }
    .sec2 .large-image .cloud5 { top: 60%; left: 50%; }
    /* SECTION 3 */
    .sec3 .large-image { left: 50vw; top: 25vh; }
    .sec3 .large-image .character { position: relative; left: 25%; }
    /* SECTION 4 */
    .sec4 .innerBox .innerText { font-size: 5vw; }
    .sec4 .innerBox .innerText p { margin-bottom: 0.2em; }
    
    /** index-FOOTER */
    .footer { left: 88px; }
    .footer p { font-size: 16px; }
}






