header { border: none; }
/* PAGINATION */
.pagination .pageIndex { width: 16px; height: 26vh; position: fixed; right: 16px; top: 37vh; font-size: 14px; font-weight: 700; color: #fefefe; z-index: 98; }
.pagination .pageIndex span:first-child { position: absolute; top: 0; }
.pagination .pageIndex span:last-child { position: absolute; bottom: 0; }
.pagination .pageIndex .navBar { display: block; position: absolute; top: 24px; left: 4px; width: 4px; height: calc(100% - 52px); border: 2px solid; }
.pagination .pageIndex .navBar .navProgress { width: 100%; min-height: 20%; max-height: 100%; height: 20%; background: #fefefe; transition: height 0.5s;}
.pagination nav { position: fixed; right: 16px; bottom: 21px; width: 40px; height: 78px; overflow: hidden; color: #fefefe; z-index: 98; }
.pagination nav span { display: block; width: 36px; height: 36px; position: absolute; left: 0; border: 2px solid; cursor: pointer; }
.pagination nav .prevPage { top: 0; }
.pagination nav .prevPage:before { content: ''; display: block; width: 33%; height: 33%; position: absolute; top: 43%; left: 33%; border-top: 2px solid; border-right: 2px solid; box-sizing: border-box; transform: rotate(-45deg); transition: all 0.3s; }
.pagination nav .nextPage { bottom: 0; }
.pagination nav .nextPage:before { content: ''; display: block; width: 33%; height: 33%; position: absolute; top: 29%; left: 33%; border-bottom: 2px solid; border-left: 2px solid; box-sizing: border-box; transform: rotate(-45deg); transition: all 0.3s; }
.pagination nav span.off { cursor: auto; }
.pagination nav span.off:before { transform: none; width: 50%; height: 2px; left: 25%; top: 48%; border-right: none; }
/* ----- */

/* CONTAINER */
.container { max-width: 100vw; width: 100%; height: 100vh; position: fixed; left: 0; top: 0; overflow: hidden; }
.container .wrapper { width: 100%; position: absolute; top: 0; left: 0; transition: top 1s cubic-bezier(.17,.67,.73,1.04); }
.container#show-section-0 .wrapper { top: 0; }
.container#show-section-1 .wrapper { top: -100%; }
.container#show-section-2 .wrapper { top: -200%; }
.container#show-section-3 .wrapper { top: -300%; }
.container#show-section-4 .wrapper { top: -400%; }
.container section { height: 100vh; position: relative; }
section .descTit { position: absolute; color: #efefef; top: 14vh; left: 12vw; text-align: center; font-size: 8vw; font-weight: 300; }
section .descText { position: absolute; color: #dedede; top: 22vh; left: 12vw; font-size: 4.6vw; font-weight: 700; }
section .descTit,
section .descText { z-index: 90;  text-shadow:  0px 0px 5px rgba(31,31,31,0.5);  }
section .large-image { z-index: 9; }
section .descText .moreBtn { display: block; color: #988DEA; margin-top: 0.5em; font-size: 0.8em; }
/* SECTION0 */
.sec0 { text-align: center; overflow: hidden; }
.sec0:before { content: ''; position: absolute; width: 500vw; height: 500vw; border-radius: 30% 50% 45% 28%/ 25% 55% 50% 50%; background-color: #5046ad;  top: 40%; left: -200%; }
.sec0 .mainText { position: absolute; width: 80vw; top: 26vh; left: 10vw; text-align: center; font-size: 8.8vw; color: #efefef; }
.sec0 .mainText h3 { margin-bottom: 1.4em; text-transform: uppercase; }
.sec0 .mainText h3 .strong { display: block; font-weight: 700; font-size: 1.65em; line-height: 1em;
    color: transparent; text-align: center;
    -webkit-text-stroke: 0.015em white;
    -moz-text-stroke: 0.015em white;
    -ms-text-stroke:0.015em white;
    -o-text-stroke: 0.015em white;
    text-stroke: 0.015em white;
    _color: white;
    outline: 0;
    transition: 0.5s;
}
.sec0 .mainText h3 .strong:hover { color:white; -webkit-text-stroke: 0px; }
.sec0 .mainText:hover h3 .strong:nth-of-type(1) { transform: translate3d(-5%, -10%, 0); }
.sec0 .mainText:hover h3 .strong:nth-of-type(2) { transform: translate3d(5%, -5%, 0); }
.sec0 .mainText:hover h3 .strong:nth-of-type(3) { transform: translate3d(-5%, 0, 0); }
.sec0 .mainText h3 .strong:nth-of-type(3) { position: relative; z-index: 10; }
.sec0 .mainText p { font-weight: 700; font-size: 0.6em; line-height: 1.2em; transition: 0.5s; }
.sec0 .mainText:hover p { transform: translate3d(0, 10%, 0); }
.sec0 .large-top { position: absolute; width: 90vw; top: 40vh; left: 5vw; z-index: 9; }
#show-section-0 .sec0:before { animation: fill-background 2s ease-out, background-wave 20s infinite ease-in-out; }
#show-section-0 .sec0 .mainText h3 .strong:nth-of-type(1) { animation: text-in-left 0.7s linear; }
#show-section-0 .sec0 .mainText h3 .strong:nth-of-type(2) { display: block; animation: text-in-right 0.7s linear; }
#show-section-0 .sec0 .mainText h3 .strong:nth-of-type(3) { display: block; animation: text-in-left 0.7s linear; }
#show-section-0 .sec0 .large-top { animation: text-in-right 0.7s linear; }
#show-section-0 .sec0 .mainText p { animation: text-in-left 0.7s linear; }
@keyframes background-wave {
    0% {
        transform: rotate(-180deg);
    }
    10% {
        top: 42%;
    }
    50% {
        top: 45%;
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fill-background {
    0% { top: 90%; }
    100% { top: 40%; }
}
@keyframes text-in-left {
    0% { opacity: 0; transform: translate3d(-10%, 0, 0); }
    100% { opacity: 1; transform: translate3d(0%, 0, 0); }
}
@keyframes text-in-right {
    0% { opacity: 0; transform: translate3d(10%, 0, 0); }
    100% { opacity: 1; transform: translate3d(0%, 0, 0); }
}
/* ----- */
/* SECTION1 */
.sec1 .screen { max-width: 250px; width: 50vw; max-height: 480px; height: 50vh; box-sizing: border-box; border-radius: 14px; position: absolute; left: 50%; top: 35vh; box-shadow: 2px 2px 5px rgba(255,255,255,0.3), -2px -2px 10px black; overflow: hidden; transform: translateX(-50%); }
.sec1 .screen .contWrap { width: 100%; height: 100%; position: absolute; top: 0; }
.sec1 .screen .contWrap .vid1 { position: relative; height: 103%; transform: translate(-35%, 0%); z-index: 10; }
#show-section-1 .sec1 .descTit,
#show-section-1 .sec1 .descText { animation: text-in-left 0.7s linear; }
/* ----- */
/* SECTION2 */
.sec2 { width: 100%; overflow: hidden; }
.sec2 .effect { width: 100%; height: 100%; position: absolute; left: 0; top: 0; overflow: hidden; }
.sec2 .effect .guideLine { width: 30px; height: 30px; position: absolute; top: calc(45vh - 40px); left: 13vw; color: #dedede; opacity: 0; }
.sec2 .effect .guideLine span { display: block; width: 100%; position: relative; }
.sec2 .effect .guideLine .arr:before { content: ''; display: block; width: 1px; height: 14px; background-color: #dedede; position: absolute; top: 0; left: 49%; }
.sec2 .effect .guideLine .arr:after { content: ''; display: block; width: 8px; height: 8px; border-bottom: 1px solid #dedede; border-right: 1px solid #dedede; transform: rotate(45deg); position: absolute; top: 5px; left: 37%; }
.sec2 .effect.purple { background: linear-gradient(-45deg, #16336F, #3A0D6B); }
.sec2 .effect.blue { background: linear-gradient(-45deg, #1B3E48, #043967); }
.sec2 .effect.red { background: linear-gradient(-45deg, #78137A, #7D0B47); }
.sec2 .effect .chips > div { width: 30px; height: 30px; border-radius: 50%; position: absolute;  }
.sec2 .effect .chips .purple { top: 35vh; left: 50vw; background: #6C00E1; }
.sec2 .effect .chips .blue { top: 45vh; left: 14vw; background: #175668; }
.sec2 .effect .chips .red { top: 55vh; left: 75vw; background: #AD0642; }
.sec2 .large-image { width: 40vw; height: auto; position: absolute; left: 20vw; bottom: 0; z-index: 80; }
.sec2 .large-image .kid { width: 100%; position: absolute; left: 0; bottom: 0; }
#show-section-2 .sec2 .descTit,
#show-section-2 .sec2 .descText { animation: text-in-left 0.7s linear; }
#show-section-2 .sec2 .effect .chips .purple { transition: all 1s; transition-delay: 0.5s; transform: translate3d(-10%, 60%, 0); }
#show-section-2 .sec2 .effect .chips .blue { transition: all 1s; transition-delay: 0.5s; transform: translate3d(50%, 50%, 0); }
#show-section-2 .sec2 .effect .chips .red { transition: all 1s; transition-delay: 0.5s; transform: translate3d(-50%, 50%, 0); }
#show-section-2 .sec2 .effect .guideLine { opacity: 1; transition: all 1s; transition-delay: 0.5s; transform: translate3d(50%, 50%, 0); }
#show-section-2 .sec2 .effect .guideLine.hidden { opacity: 0; }
/* ----- */
/* SECTION3 */
.sec3 {
    background: -webkit-linear-gradient(bottom, #2e2e2e 10%, #454545 20%, #2e2e2e 25%, #454545 100%); background: -o-linear-gradient(bottom, #2e2e2e 10%, #454545 20%, #2e2e2e 25%, #454545 100%); background: linear-gradient(to top, #2e2e2e 10%, #454545 20%, #2e2e2e 25%, #454545 100%);
}
.sec3 .large-image { width: 100%; height: 85vh; position: absolute; left: 0; top: 10vh; }
.sec3 .large-image .character { position: relative; z-index: 10; }
#show-section-3 .sec3 .descTit,
#show-section-3 .sec3 .descText { animation: text-in-left 0.7s linear; }
/* ----- */
/* SECTION4 */
.sec4 .innerBox { width: 100%; }
.sec4 .innerBox .innerText { width: 100%; position: absolute; top: 29vh; left: 0; color: #efefef; text-align: center; font-size: 9vw; transform: skewX(-5deg) rotate(-5deg); }
.sec4 .innerBox .innerText p { transition: all 0.5s; margin-bottom: 1em; line-height: 1.6em; font-weight: 700; text-shadow: -3px -3px 0px #efefef;
    color: transparent;
    -webkit-text-stroke: 0.5px #efefef;
    -moz-text-stroke: 0.5px #efefef;
    -ms-text-stroke: 0.5px #efefef;
    -o-text-stroke: 0.5px #efefef;
    text-stroke: 0.5px #efefef;
    outline: 0;
}
.sec4 .innerBox .innerText:hover p:first-child { transform: translateY(-5%); line-height: 1.65em; }
.sec4 .innerBox .innerText:hover p:last-child { transform: translateY(5%); line-height: 1.65em; }
#show-section-4 .sec4 .innerBox .innerText { animation: text-skew-in 0.6s linear; }
@keyframes text-skew-in {
    0% { opacity: 0; transform: translate3d(-10%, 0, 0)  skewX(-5deg) rotate(-5deg); }
    100% { opacity: 1; transform: translate3d(0%, 0, 0) skewX(-5deg) rotate(-5deg); }
}
/* ----- */
/* /CONTAINER */

/** index-FOOTER */
.footer { max-width: 70%; position: fixed; left: 16px; bottom: 21px; padding: 0; z-index: 99; }
.footer p { display: block; font-size: 13px; font-weight: 700; margin-top: 10px; color: #ddd; }

/* IE일 경우 */
@media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none) {
    .sec0 .mainText h3 .strong {
        color: #fff;
    }
    .sec0 .mainText h3 .strong:hover{
        color: #fff;
    }
}

/* 600px ~ 839px */
@media (min-width:600px) and (max-width: 839px) {
    .pagination .pageIndex { right: 21px; }
    .pagination nav { right: 21px; }
    
    section .descTit { top: 15vh; }
    section .descText { top: 24vh; }
    section .large-image { top: 46vh; }
    
    .sec0 .mainText { top: 17vh; left: 9vw; font-size: 60px; }
    
    .sec2 .effect .chips > div { width: 40px; height: 40px; }
    .sec2 .effect .chips .purple { left: 80vw; }
    .sec2 .effect .chips .blue { top: 55vh; left: 15vw; }
    .sec2 .effect .guideLine { width: 40px; height: 40px; top: calc(55vh - 50px); left: 15.5vw; }
    .sec2 .large-image { width: 240px; left: 25vw; }
    .sec2 .effect .guideLine .arr:before { left: 48%; }
    .sec4 .innerBox .innerText { font-size: 54px; }
}

/* 840px ~ 1279px */
@media (min-width:840px) and (max-width: 1279px) {
    .pagination .pageIndex { right: 27px; font-size: 16px; }
    .pagination nav { right: 27px; bottom: 27px; }
    
    section .descTit { width: 50%; top: 20vh; left: 0; font-size: 6vw; padding: 0 24px; box-sizing: border-box; }
    section .descText { width: 50%; top: 45vh; left: 0; font-size: 2.3vw; padding: 0 0 0 9vw; box-sizing: border-box; }
    section .large-image { max-width: 50vw; top: 35vh; }
    /* SECTION 0 */
    .sec0 .mainText { top: 15vh; font-size: 75px; }
    .sec0 .mainText h3 .strong { display: inline-block; }
    .sec0 .large-top { top: 50vh; left: 50%; width: 512px; transform: translateX(-50%); }
    /* SECTION 1 */
    .sec1 .large-image .screen { left: 75%; }
    /* SECTION 2 */
    .sec2 .effect .chips > div { width: 40px; height: 40px; }
    .sec2 .effect .chips .purple { left: 55vw; top: 20vh; }
    .sec2 .effect .chips .blue { top: 60vh; left: 35vw; }
    .sec2 .effect .chips .red { top: 25vh; left: 85vw; }
    .sec2 .effect .guideLine { width: 40px; height: 40px; top: calc(60vh - 50px); left: 35vw; font-size: 18px; }
    .sec2 .effect .guideLine .arr:after { left: 39%; }
    .sec2 .large-image { max-width: 350px; width: 33.3vw; left: 55vw; }
    /* SECTION 3 */
    .sec3 .large-image { width: 50vw; height: 85vh; left: 50vw; top: 10vh; }
    /* SECTION 4 */
    .sec4 .innerBox .innerText { font-size: 54px; }
    /** index-FOOTER */
    .footer p { font-size: 14px; }
}

/* 1280px ~ */
@media (min-width: 1280px) {
    .mobileOnly { display: none; }
    
    .pagination .pageIndex { right: 27px; font-size: 16px; }
    .pagination nav { right: 27px; bottom: 27px; }
    /* CONTAINER */
    section .descTit { width: 50%; top: 20vh; left: 0; font-size: 80px; padding: 0 14vw; text-align: left; box-sizing: border-box; }
    section .descText { width: 50%; top: 50vh; left: 0; font-size: 30px; padding: 0 0 0 15vw; box-sizing: border-box; }
    section .descText .moreBtn { font-size: 0.6em; margin-left: 12px; }
    section .large-image { top: 35vh; }
    /* SECTION 0 */
    .sec0 .mainText { top: 200px; font-size: 75px; }
    .sec0 .mainText h3 { font-size: 1.4em; margin-bottom: 0.7em; }
    .sec0 .mainText h3 .strong { display: inline-block; }
    .sec0 .mainText p { font-size: 0.45em; }
    .sec0 .large-top { top: 46vh; left: 50%; width: 755px; transform: translateX(-50%); }
    /* SECTION 1 */
    .sec1 .large-image .screen { max-width: 405px; max-height: 720px; height: 100%; top: 50%; left: 75%; transform: translate(-50%, -40%); }
    /* SECTION 2 */
    .sec2 .effect .chips > div { width: 50px; height: 50px; }
    .sec2 .effect .chips .purple { left: 55vw; top: 20vh; }
    .sec2 .effect .chips .blue { top: 60vh; left: 50vw; }
    .sec2 .effect .chips .red { top: 25vh; left: 85vw; }
    .sec2 .effect .guideLine { width: 50px; height: 50px; top: calc(60vh - 60px); left: 50vw; font-size: 22px; }
    .sec2 .effect .guideLine .arr:after { left: 41%; }
    .sec2 .large-image { width: 300px; left: 55vw; }
    /* SECTION 3 */
    .sec3 .large-image { width: 50vw; height: 85vh; left: 45vw; top: 10vh; }
    /* SECTION 4 */
    .sec4 .innerBox .innerText { top: 36vh; font-size: 5vw; }
    .sec4 .innerBox .innerText p { margin-bottom: 0.2em; }
    
    /** index-FOOTER */
    .footer { left: 88px; }
    .footer p { font-size: 16px; }
}






