/* CONTAINER */
.hide { display: none; }
.container { max-width: 100vw; overflow-x: hidden; background: url(../src/software-img-bottom.png) no-repeat 50% 100% / 300%; background-attachment: fixed; }
.container p { color: #dedede; }
.container .inner p:not(.large):not(.medium):not(.top2) { font-size: 5vw; line-height: 1.4em; margin-bottom: 0.7em; }

/* SEC0 */
.sec0 { position: relative; top: 0; left: 0; width: 100%; height: 60vh; padding: 0 5%; box-sizing: border-box; background-color: #191919; }
.sec0 .inner { height: 100%; }
.sec0 .inner p { text-align:  center; position: relative; top: 20vh; }
.sec0 .inner .top1 { margin-bottom: 40px; }
.sec0 .inner .top2 { font-size: 5vw; }
.container .imgBx { width: 100%; height: 300px; background: url(../src/software-img-top.jpg) no-repeat 50% 50%; background-size: 150%; overflow: hidden; }

/* SEC1 */
.sec1 { width: 100%; margin: 0 auto; padding: 10vh 0; box-sizing: border-box; background-color: #191919; }
.sec1 .inner { max-width: 1224px; margin: 10vh auto 15vh; text-align: center; }
.sec1 .inner .innerImg { width: 80vw; height: 60vw; margin: 30px auto; position: relative; overflow: hidden;}
.sec1 .inner .innerImg img { max-width: 120%; width: 110%; position: absolute; left: -5%; top: -5%; }
.sec1 .inner .medium { margin-bottom: 20px; }

/* SEC2 */
.sec2 { height: 80vw; padding: 16% 5%; box-sizing: border-box; }
.sec2 p { max-width: 571px; margin: 0 auto 30px; text-align: center; }
.sec2 .large { max-width: 555px; margin: 0 auto 20px; font-weight: 700; }
.sec2 span { position: relative; display: block; width: 150px; height: 2.8em; margin: 0 auto 0; line-height: 1em; color: #5046ad; background-color: #ccc; border-radius: 0.7em; font-size: 18px; font-weight: 700; text-align: center; }
.sec2 span:after { content: 'Coming Soon'; display: block; padding: 0 1.5em; position: absolute; left: -6%; top: 20%; background: #5400FF; color: white; width: 75%; height: 1.5em; line-height: 1.5em; transition: width 0.5s; transform: rotate(-15deg); }


/* 600px ~ 839px */
@media (min-width:600px) and (max-width: 839px) {
    .hide { display: block; }
    .container .inner p:not(.large):not(.medium):not(.top2) { font-size: 30px; }
    
    .sec0 .inner .top2 { font-size: 30px; }
    
    .sec1 .inner .innerImg{ width: 480px; height: 320px; }
    
    .sec2 { padding: 124px 5%; height: 510px; }
    .sec2 span { font-size: 18px; }
}

/* 840px ~ 1279px */
@media (min-width:840px) and (max-width: 1279px) {
    .hide { display: block; }
    .container { background-size: cover; }
    .container .inner p:not(.large):not(.medium):not(.top2) { font-size: 26px; }
    
    .sec0 { height: 50vh; }
    .sec0 .inner .top2 { font-size: 26px; }
    .container .imgBx { height: 400px; }
    
    .sec1 .inner .innerImg{ width: 58vw; height: 38.6vw; }
    
    .sec2 { padding: 75px 5%; height: 400px; }
    .sec2 p { margin-bottom: 25px; }
}

/* 1280px ~ */
@media (min-width: 1280px) {
    .mobileOnly { display: none; }
    .hide { display: block; }
    .container { background-size: cover; }
    .container .inner p:not(.large):not(.medium):not(.top2) { font-size: 24px; }
    /* CONTAINER */
    .sec0 { height: 40vh; }
    .sec0 .inner .top2 { font-size: 24px; }
    .container .imgBx { height: 500px; background-size: cover; }
    
    .sec1 .inner { width: 1224px; font-size: 0; }
    .sec1 .inner .text { display: inline-block; width: 744px; vertical-align: middle; text-align: left; }
    .sec1 .inner .innerImg{ display: inline-block; width: 480px; height: 320px; vertical-align: middle; }
    
    .sec2 { padding: 75px 5%; height: 400px; }
} 